# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [93]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
gkey="AIzaSyD1fdGsLFk3QVCpXsYPnpsLxVYoZ_SkaB8"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [94]:
#creating the file path for csv
cities_csv = "../output_data/cleaned_data.csv"
#reading that in 
cleaned_df = pd.read_csv(cities_csv)
cleaned_df

,Unnamed: 0,Cities,Latitude,Longitude,max_temp,humidity,Cloudiness,Wind Speed,Country,Date
0,0,torbay,47.67,-52.73,35.01,97,90,19.46,CA,<class 'datetime.date'>
1,1,central point,42.38,-122.92,41.00,86,75,8.05,US,<class 'datetime.date'>
2,2,severo-kurilsk,50.68,156.12,29.07,92,38,4.41,RU,<class 'datetime.date'>
3,3,inhambane,-23.86,35.38,75.20,88,75,9.06,MZ,<class 'datetime.date'>
4,4,east london,-33.02,27.91,73.38,85,85,9.08,ZA,<class 'datetime.date'>
...,...,...,...,...,...,...,...,...,...,...
537,537,paducah,37.08,-88.60,39.20,69,1,10.29,US,<class 'datetime.date'>
538,538,ikeda,34.82,135.43,48.20,66,75,10.29,JP,<class 'datetime.date'>
539,539,utica,43.10,-75.23,1.40,84,1,2.08,US,<class 'datetime.date'>
540,540,kyshtovka,56.55,76.63,14.32,96,100,7.61,RU,<class 'datetime.date'>
541,541,guantanamo,20.14,-75.21,75.20,83,20,14.99,CU,<class 'datetime.date'>

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [95]:
#configuring gmaps
gmaps.configure(api_key=gkey)

In [96]:
#create the locations using lng and lat for use in the heat layer
locations = cleaned_df[['Latitude', 'Longitude']]
#set the weight to be humidity
weights= cleaned_df["humidity"]
#create the heat map layer with the values we just created
heat_layer = gmaps.heatmap_layer(locations, weights=weights, point_radius = 15, max_intensity=100)
#make a figure and put the heat map layer on it
fig = gmaps.figure()
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [97]:
#create a new df with specifications for vacation
vacation_df = cleaned_df.loc[(cleaned_df["max_temp"]>=70)&(cleaned_df["max_temp"]<=90)]
vacation_df = vacation_df.loc[vacation_df["Cloudiness"]<=5]
vacation_df = vacation_df.loc[vacation_df["Wind Speed"]<=8]
vacation_df= vacation_df.dropna()
vacation_df

,Unnamed: 0,Cities,Latitude,Longitude,max_temp,humidity,Cloudiness,Wind Speed,Country,Date
7,7,busselton,-33.65,115.33,86.00,38,0,5.01,AU,<class 'datetime.date'>
197,197,saint-pierre,-21.34,55.48,82.99,65,0,4.70,RE,<class 'datetime.date'>
263,263,saint-philippe,-21.36,55.77,82.99,65,0,4.70,RE,<class 'datetime.date'>
334,334,esperance,-33.87,121.90,78.80,31,0,4.70,AU,<class 'datetime.date'>
361,361,forecariah,9.43,-13.09,74.59,80,2,1.81,GN,<class 'datetime.date'>
398,398,cap malheureux,-19.98,57.61,81.00,74,3,7.00,MU,<class 'datetime.date'>
436,436,tubuala,9.52,-79.03,77.00,94,0,4.70,PA,<class 'datetime.date'>
471,471,tucuman,-26.82,-65.22,77.00,78,0,5.82,AR,<class 'datetime.date'>
506,506,villarrica,-25.75,-56.43,79.59,70,0,6.53,PY,<class 'datetime.date'>

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [98]:
#make that equal to a new dataframe for hotels
hotel_df=vacation_df
hotel_df

,Unnamed: 0,Cities,Latitude,Longitude,max_temp,humidity,Cloudiness,Wind Speed,Country,Date
7,7,busselton,-33.65,115.33,86.00,38,0,5.01,AU,<class 'datetime.date'>
197,197,saint-pierre,-21.34,55.48,82.99,65,0,4.70,RE,<class 'datetime.date'>
263,263,saint-philippe,-21.36,55.77,82.99,65,0,4.70,RE,<class 'datetime.date'>
334,334,esperance,-33.87,121.90,78.80,31,0,4.70,AU,<class 'datetime.date'>
361,361,forecariah,9.43,-13.09,74.59,80,2,1.81,GN,<class 'datetime.date'>
398,398,cap malheureux,-19.98,57.61,81.00,74,3,7.00,MU,<class 'datetime.date'>
436,436,tubuala,9.52,-79.03,77.00,94,0,4.70,PA,<class 'datetime.date'>
471,471,tucuman,-26.82,-65.22,77.00,78,0,5.82,AR,<class 'datetime.date'>
506,506,villarrica,-25.75,-56.43,79.59,70,0,6.53,PY,<class 'datetime.date'>

In [131]:
#https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
#the link above is what we are trying to create
#set all of the parameters 
key=gkey
target_radius = 5000
#there is no place type hotels so lodging is the best option
target_type = "lodging"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#put all the params in a dictionary so that we can use that for later in the url
params={
    "radius":target_radius,
    "type":target_type,
    "key":key,
    "keyword":"hotel"
}
#going through the rows of the dataframe to find information for out search
try:
    for index, row in hotel_df.iterrows():
        #save the lat and long so that we can make it a param
        lat=row["Latitude"]
        long=row["Longitude"]
        params["location"] = f"{lat},{long}"
    #get the api request
        response = requests.get(base_url, params=params).json()
        #set the hotel name in the dataframe equal to the one that pops up in the search
        hotel_df.loc[index, "Hotel Name"]= response["results"][0]["name"]
        #print out the closest hotel to each of our cities
        print(f"The closest hotel to {row['Cities']} is {response['results'][0]['name']} ")
except IndexError:
    print("Skipping because of error")

The closest hotel to busselton is Abbey Beach Resort
The closest hotel to saint-pierre is LODGE PALMAE
The closest hotel to saint-philippe is Les Embruns Du Baril
The closest hotel to esperance is Esperance Clearwater Motel Apartments
The closest hotel to forecariah is Hotel Bafila
The closest hotel to cap malheureux is Paradise Cove Boutique Hotel
Skipping because of error

In [132]:
hotel_df

,Unnamed: 0,Cities,Latitude,Longitude,max_temp,humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
7,7,busselton,-33.65,115.33,86,38,0,5.01,AU,<class 'datetime.date'>,Abbey Beach Resort
197,197,saint-pierre,-21.34,55.48,82.99,65,0,4.7,RE,<class 'datetime.date'>,LODGE PALMAE
263,263,saint-philippe,-21.36,55.77,82.99,65,0,4.7,RE,<class 'datetime.date'>,Les Embruns Du Baril
334,334,esperance,-33.87,121.9,78.8,31,0,4.7,AU,<class 'datetime.date'>,Esperance Clearwater Motel Apartments
361,361,forecariah,9.43,-13.09,74.59,80,2,1.81,GN,<class 'datetime.date'>,Hotel Bafila
398,398,cap malheureux,-19.98,57.61,81,74,3,7,MU,<class 'datetime.date'>,Paradise Cove Boutique Hotel
436,436,tubuala,9.52,-79.03,77,94,0,4.7,PA,<class 'datetime.date'>,Paradise Cove Boutique Hotel
471,471,tucuman,-26.82,-65.22,77,78,0,5.82,AR,<class 'datetime.date'>,Paradise Cove Boutique Hotel
506,506,villarrica,-25.75,-56.43,79.59,70,0,6.53,PY,<class 'datetime.date'>,Paradise Cove Boutique Hotel

In [135]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
#set the locations to use for the marker layer
locations = hotel_df[["Latitude", "Longitude"]]
#make the marker layer
markers = gmaps.marker_layer(locations)
#make the info box layer
hotel_markers = gmaps.symbol_layer(locations, info_box_content=hotel_info)
#add both of the layers to the heat map
fig.add_layer(markers)
fig.add_layer(hotel_markers)
#print out the map
fig

Figure(layout=FigureLayout(height='420px'))