# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
cities_csv = "../output_data/cleaned_data.csv"
cleaned_df = pd.read_csv(cities_csv)
cleaned_df

,Unnamed: 0,Cities,Latitude,Longitude,max_temp,humidity,Cloudiness,Wind Speed,Country,Date
0,0,torbay,47.67,-52.73,35.01,97,90,19.46,CA,<class 'datetime.date'>
1,1,central point,42.38,-122.92,41.00,86,75,8.05,US,<class 'datetime.date'>
2,2,severo-kurilsk,50.68,156.12,29.07,92,38,4.41,RU,<class 'datetime.date'>
3,3,inhambane,-23.86,35.38,75.20,88,75,9.06,MZ,<class 'datetime.date'>
4,4,east london,-33.02,27.91,73.38,85,85,9.08,ZA,<class 'datetime.date'>
...,...,...,...,...,...,...,...,...,...,...
537,537,paducah,37.08,-88.60,39.20,69,1,10.29,US,<class 'datetime.date'>
538,538,ikeda,34.82,135.43,48.20,66,75,10.29,JP,<class 'datetime.date'>
539,539,utica,43.10,-75.23,1.40,84,1,2.08,US,<class 'datetime.date'>
540,540,kyshtovka,56.55,76.63,14.32,96,100,7.61,RU,<class 'datetime.date'>
541,541,guantanamo,20.14,-75.21,75.20,83,20,14.99,CU,<class 'datetime.date'>

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key="AIzaSyD1fdGsLFk3QVCpXsYPnpsLxVYoZ_SkaB8")

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure