# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [48]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
gkey="AIzaSyD1fdGsLFk3QVCpXsYPnpsLxVYoZ_SkaB8"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [49]:
cities_csv = "../output_data/cleaned_data.csv"
cleaned_df = pd.read_csv(cities_csv)
cleaned_df

,Unnamed: 0,Cities,Latitude,Longitude,max_temp,humidity,Cloudiness,Wind Speed,Country,Date
0,0,torbay,47.67,-52.73,35.01,97,90,19.46,CA,<class 'datetime.date'>
1,1,central point,42.38,-122.92,41.00,86,75,8.05,US,<class 'datetime.date'>
2,2,severo-kurilsk,50.68,156.12,29.07,92,38,4.41,RU,<class 'datetime.date'>
3,3,inhambane,-23.86,35.38,75.20,88,75,9.06,MZ,<class 'datetime.date'>
4,4,east london,-33.02,27.91,73.38,85,85,9.08,ZA,<class 'datetime.date'>
...,...,...,...,...,...,...,...,...,...,...
537,537,paducah,37.08,-88.60,39.20,69,1,10.29,US,<class 'datetime.date'>
538,538,ikeda,34.82,135.43,48.20,66,75,10.29,JP,<class 'datetime.date'>
539,539,utica,43.10,-75.23,1.40,84,1,2.08,US,<class 'datetime.date'>
540,540,kyshtovka,56.55,76.63,14.32,96,100,7.61,RU,<class 'datetime.date'>
541,541,guantanamo,20.14,-75.21,75.20,83,20,14.99,CU,<class 'datetime.date'>

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [50]:
gmaps.configure(api_key=gkey)

In [51]:
locations = cleaned_df[['Latitude', 'Longitude']]
weights= cleaned_df["humidity"]
heat_layer = gmaps.heatmap_layer(locations, weights=weights, point_radius = 15, max_intensity=100)

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [55]:
vacation_df = cleaned_df.loc[(cleaned_df["max_temp"]>=70)&(cleaned_df["max_temp"]<=90)]
vacation_df = vacation_df.loc[vacation_df["Cloudiness"]<=5]
vacation_df = vacation_df.loc[vacation_df["Wind Speed"]<=8]
vacation_df= vacation_df.dropna()
vacation_df

,Unnamed: 0,Cities,Latitude,Longitude,max_temp,humidity,Cloudiness,Wind Speed,Country,Date
7,7,busselton,-33.65,115.33,86.00,38,0,5.01,AU,<class 'datetime.date'>
197,197,saint-pierre,-21.34,55.48,82.99,65,0,4.70,RE,<class 'datetime.date'>
263,263,saint-philippe,-21.36,55.77,82.99,65,0,4.70,RE,<class 'datetime.date'>
334,334,esperance,-33.87,121.90,78.80,31,0,4.70,AU,<class 'datetime.date'>
361,361,forecariah,9.43,-13.09,74.59,80,2,1.81,GN,<class 'datetime.date'>
398,398,cap malheureux,-19.98,57.61,81.00,74,3,7.00,MU,<class 'datetime.date'>
436,436,tubuala,9.52,-79.03,77.00,94,0,4.70,PA,<class 'datetime.date'>
471,471,tucuman,-26.82,-65.22,77.00,78,0,5.82,AR,<class 'datetime.date'>
506,506,villarrica,-25.75,-56.43,79.59,70,0,6.53,PY,<class 'datetime.date'>

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [56]:
hotel_df=vacation_df
hotel_df["Hotel Name"]=""
hotel_df

,Unnamed: 0,Cities,Latitude,Longitude,max_temp,humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
7,7,busselton,-33.65,115.33,86.00,38,0,5.01,AU,<class 'datetime.date'>,
197,197,saint-pierre,-21.34,55.48,82.99,65,0,4.70,RE,<class 'datetime.date'>,
263,263,saint-philippe,-21.36,55.77,82.99,65,0,4.70,RE,<class 'datetime.date'>,
334,334,esperance,-33.87,121.90,78.80,31,0,4.70,AU,<class 'datetime.date'>,
361,361,forecariah,9.43,-13.09,74.59,80,2,1.81,GN,<class 'datetime.date'>,
398,398,cap malheureux,-19.98,57.61,81.00,74,3,7.00,MU,<class 'datetime.date'>,
436,436,tubuala,9.52,-79.03,77.00,94,0,4.70,PA,<class 'datetime.date'>,
471,471,tucuman,-26.82,-65.22,77.00,78,0,5.82,AR,<class 'datetime.date'>,
506,506,villarrica,-25.75,-56.43,79.59,70,0,6.53,PY,<class 'datetime.date'>,

In [66]:
#https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
#the link above is what we are trying to create
#set all of the parameters 
key=gkey
target_radius = 5000
#there is no place type hotels so lodging is the best option
target_type = "lodging"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params={
    "radius":target_radius,
    "type":target_type,
    "key":key
    "keyword":"hotel"
}
#going through the rows of the dataframe to find information for out search
for index, row in hotel_df.iterrows():
    lat=hotel_df["Latitude"]
    long=hotel_df["Longitude"]
    params["location"] = f"{lat},{long}"
    
    response =requests.get(base_url, params=params).json()
    print(response)

SyntaxError: invalid syntax (<ipython-input-66-d60975b4141c>, line 13)

In [46]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'City'

In [ ]:
# Add marker layer ontop of heat map


# Display figure